body {
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.avatar {
    width: 150px;
    border-radius: 3px;
}

.card {
    width: 450px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #a3b18a;
    color: #212529;
    border: 6px solid #344e41;
    border-radius: 15px;
}

.card:hover {
    box-shadow: 0 5px 5px 2px #212529;
}